*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/
.navigation/
ml/models/
ml/metrics/
.env
*.db
ml/data/processed/chunk_embeddings.npy
ml/data/processed/chunk_embeddings_manifest.json
**/__pycache__/
